<mat-card>
  <mat-card-title>Rules</mat-card-title>
  <mat-card-content>
    <mat-list *ngIf="mamdaniService.rules$ | async as rules">
      <mat-list-item *ngIf="rules.length === 0">
        <p matLine>No Rules. Add some!</p>
        <button mat-icon-button color="primary" (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngFor="let rule of rules; let i = index">
        <h4 matLine>Rule {{ i + 1 }}</h4>
        <p matLine>
          <span>If </span>
          <span *ngFor="let input of rule.fuzzyAreas.inputs; let last = last">
            <strong>{{ input.name }}</strong> is
            <strong>{{ input.area.name }}</strong>
            <span *ngIf="!last">
              {{ rule.type | lowercase }}
            </span>
          </span>
          then
          <strong>{{ (mamdaniService.outputVariable$ | async)?.name }}</strong>
          is
          <strong>{{ rule.fuzzyAreas.output.name }}</strong>
        </p>
        <button mat-icon-button color="warn" (click)="removeRule(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openDialog()">
      Add Rule
    </button>
  </mat-card-actions>
</mat-card>
