<div class="container">
  <mat-card class="mat-elevation-z4">
    <mat-card-content>
      <form [formGroup]="form">
        <mat-stepper
          orientation="vertical"
          formArrayName="variables"
          linear
          #stepper
        >
          <mat-step
            *ngFor="
              let variableGroup of form.get('variables')['controls'];
              let i = index;
              let last = last
            "
            [formGroupName]="i"
            [stepControl]="variableGroup"
          >
            <ng-template matStepLabel>{{
              variableGroup.get("name").value
            }}</ng-template>
            <div class="radio-container">
              <mat-radio-group
                aria-label="Select an option"
                formControlName="example"
              >
                <mat-radio-button
                  *ngFor="
                    let fuzzyArea of inputVariables[i].fuzzyAreas;
                    let areaIndex = index
                  "
                  [value]="getFuzzyAreaValue(fuzzyArea)"
                  >{{ fuzzyArea.name }}</mat-radio-button
                >
              </mat-radio-group>
            </div>
            <div class="stepper-buttons">
              <button
                class="back-button"
                *ngIf="i > 0"
                mat-stroked-button
                matStepperPrevious
                type="button"
              >
                Back
              </button>
              <button
                *ngIf="!last"
                mat-stroked-button
                matStepperNext
                color="primary"
                type="button"
              >
                Next
              </button>
              <button
                *ngIf="last"
                mat-flat-button
                matStepperNext
                color="primary"
                (click)="getResult()"
              >
                Finish
              </button>
            </div>
          </mat-step>
        </mat-stepper>
      </form>
    </mat-card-content>
  </mat-card>
</div>
