<div class="container card-container">
  <form [formGroup]="form">
    <ng-container formArrayName="variables">
      <ng-container
        *ngFor="
          let variableGroup of form.get('variables')['controls'];
          let i = index;
          let last = last
        "
      >
        <mat-card [formGroupName]="i" *ngIf="selectedIndex === i">
          <mat-card-header>
            <mat-card-title>{{
              variableGroup.get("name").value
            }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="radio-container">
              <mat-radio-group
                aria-label="Select an option"
                formControlName="example"
              >
                <mat-radio-button
                  *ngFor="
                    let fuzzyArea of inputVariables[selectedIndex].fuzzyAreas;
                    let areaIndex = index
                  "
                  [value]="getFuzzyAreaValue(fuzzyArea)"
                  >{{ fuzzyArea.name }}</mat-radio-button
                >
              </mat-radio-group>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button
              *ngIf="i > 0"
              mat-stroked-button
              (click)="previousStep()"
              type="button"
            >
              Back
            </button>
            <button
              class="stepper-button"
              *ngIf="!last"
              mat-stroked-button
              color="primary"
              type="button"
              [disabled]="variableGroup.invalid"
              (click)="nextStep()"
            >
              Next
            </button>
            <button
              class="stepper-button"
              *ngIf="last"
              mat-flat-button
              color="primary"
              [disabled]="variableGroup.invalid"
              (click)="getResult()"
            >
              Finish
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </ng-container>
  </form>
</div>
