<mat-card>
  <mat-card-title>{{ title }} </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let variable of variables; let i = index">
        <app-variables-list-item
          [type]="type"
          [index]="i"
          [variable]="variable"
          (removeItem)="onRemoveItem($event)"
        ></app-variables-list-item>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="openDialog()"
      *ngIf="type === 'inputs'"
    >
      Add variable
    </button>
  </mat-card-actions>
</mat-card>
