:host {
  width: 100%;
}

.header-spacer {
  flex: 1 1 auto;
}

.fuzzy-area-toogle-group {
  flex-wrap: wrap;
}

.item-title {
  display: flex !important;
  flex-direction: row !important;
  box-sizing: border-box;
}
