<div matLine fxLayout="row" *ngIf="variable">
  <h3>
    <span class="me-2">
      {{ variable.name }} goes from
      <strong>{{ variable.start }} to {{ variable.end }}</strong>
    </span>
    <button mat-icon-button color="primary" (click)="changeMode()">
      <mat-icon>{{ !edit ? "edit" : "close" }}</mat-icon>
    </button>
  </h3>
  <span class="header-spacer"></span>
  <button mat-icon-button color="warn" (click)="removeItem.emit(itemIndex)">
    <mat-icon>delete</mat-icon>
  </button>
</div>
<div matLine>
  <mat-button-toggle-group
    [(ngModel)]="selectedFuzzyArea"
    class="fuzzy-area-toogle-group"
  >
    <mat-button-toggle
      *ngFor="let fuzzyArea of variable.fuzzyAreas; let i = index"
      (change)="toggleChanged($event, i)"
      [value]="fuzzyArea"
    >
      {{ fuzzyArea.name }}</mat-button-toggle
    >
  </mat-button-toggle-group>
  <div *ngIf="!edit && selectedFuzzyArea">
    <p class="my-2">
      <strong>{{ selectedFuzzyArea.type }} :</strong>
      <span *ngFor="let range of selectedFuzzyArea.ranges" class="m-2">{{
        range
      }}</span>
    </p>
  </div>
  <app-variables-list-item-form
    *ngIf="edit"
    [type]="type"
    [variable]="variable"
    [variableIndex]="variableIndex"
    [itemIndex]="itemIndex"
    [fuzzyArea]="selectedFuzzyArea"
  ></app-variables-list-item-form>
</div>
<br />
<mat-divider *ngIf="type === 'inputs'"></mat-divider>
