.fuzzy-area-form {
  display: flex;
  flex-direction: column;

  .fuzzy-area-name-input {
    width: 50%;
  }

  .fuzzy-area-range-input {
    width: 100px;
  }
}

.form-container {
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
}
