<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <app-examples-form></app-examples-form>
    </div>
    <div class="col-md-8">
      <mat-card>
        <mat-card-content>
          <nav mat-tab-nav-bar>
            <a
              mat-tab-link
              [routerLink]="['./inputs']"
              routerLinkActive="router-link-active"
            >
              Inputs
            </a>
            <a
              mat-tab-link
              [routerLink]="['./output']"
              routerLinkActive="router-link-active"
            >
              Output
            </a>
            <a
              mat-tab-link
              [routerLink]="['./rules']"
              routerLinkActive="router-link-active"
            >
              Rules
            </a>
          </nav>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
