<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <app-examples-form></app-examples-form>
    </div>
    <div class="col-md-8">
      <mat-card>
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Inputs">
              <app-variables-list
                title="Input Variables"
                type="inputs"
                [variables]="mamdaniService.inputVariables$ | async"
              ></app-variables-list>
            </mat-tab>
            <mat-tab label="Output">
              <app-variables-list
                title="Output Variables"
                type="outputs"
                [variables]="[mamdaniService.outputVariable$ | async]"
              ></app-variables-list>
            </mat-tab>
            <mat-tab label="Rules"> <app-rules-list></app-rules-list> </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
