.config-container {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.examples-container {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 40%;
}

.tabs-container {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 60%;
}
