<div class="config-container">
  <div class="examples-container">
    <app-examples-form></app-examples-form>
  </div>
  <div class="tabs-container">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
          <a
            *ngFor="let link of links"
            mat-tab-link
            [routerLink]="link"
            routerLinkActive
            #rla="routerLinkActive"
            [active]="rla.isActive"
          >
            {{ link | titlecase }}
          </a>
        </nav>
        <mat-tab-nav-panel #tabPanel>
          <router-outlet></router-outlet>
        </mat-tab-nav-panel>
      </mat-card-content>
    </mat-card>
  </div>
</div>
