<mat-card class="mat-elevation-z4">
  <mat-card-title>{{ title }} </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngIf="variables.length === 0">
        <p matLine>No Variables. Add some!</p>
        <button mat-icon-button color="primary" (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngFor="let variable of variables; let i = index">
        <app-variables-list-item
          [type]="type"
          [variable]="variable"
          [itemIndex]="i"
          (removeItem)="onRemoveItem($event)"
        ></app-variables-list-item>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      (click)="openDialog()"
      *ngIf="type === 'inputs'"
    >
      Add variable
    </button>
  </mat-card-actions>
</mat-card>
