<form [formGroup]="form" (ngSubmit)="addVariable($event)">
  <mat-card>
    <mat-card-content>
      <mat-radio-group
        aria-label="Select an option"
        [formControl]="variableType"
      >
        <mat-radio-button value="input">Input</mat-radio-button>
        <mat-radio-button value="output">Output</mat-radio-button>
      </mat-radio-group>
      <br />
      <div class="row">
        <div class="col-6">
          <mat-form-field class="input-full-width">
            <mat-label>Variable Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" />
            <mat-error *ngIf="form.get('name').hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="input-full-width">
            <mat-label>Number of fuzzyAreas</mat-label>
            <input
              matInput
              placeholder="fuzzy areas count"
              type="number"
              min="0"
              formControlName="fuzzyAreasCount"
            />
            <mat-error *ngIf="form.get('fuzzyAreasCount').hasError('required')">
              Required
            </mat-error>
            <mat-error *ngIf="form.get('fuzzyAreasCount').hasError('min')">
              Minumun number of fuzzy areas 1
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-6">
          <mat-form-field class="input-full-width">
            <mat-label>Range: Start</mat-label>
            <input
              matInput
              placeholder="Start"
              type="number"
              min="0"
              formControlName="start"
            />
            <mat-error *ngIf="form.get('start').hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="input-full-width">
            <mat-label>Range: End</mat-label>
            <input
              matInput
              placeholder="End"
              type="number"
              min="0"
              formControlName="end"
            />
            <mat-error *ngIf="form.get('end').hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Add variable
      </button>
    </mat-card-actions>
  </mat-card>
</form>
