<div class="viewer-container">
  <mat-card class="mat-elevation-z4">
    <mat-card-title class="card-title"
      >Config Viewer
      <div class="viewer-spacer"></div>
      <mat-slide-toggle color="primary" [(ngModel)]="expanded">
      </mat-slide-toggle>
    </mat-card-title>

    <mat-card-content>
      <div class="viewer">
        <h3>Inputs</h3>
        <ngx-json-viewer
          [json]="mamdaniService.inputVariables$ | async"
          [expanded]="expanded"
        ></ngx-json-viewer>
      </div>
      <div class="viewer">
        <h3>Outputs</h3>
        <ngx-json-viewer
          [json]="mamdaniService.outputVariables$ | async"
          [expanded]="expanded"
        ></ngx-json-viewer>
      </div>
      <div class="viewer">
        <h3>Rules</h3>
        <ngx-json-viewer
          [json]="mamdaniService.rules$ | async"
          [expanded]="expanded"
        ></ngx-json-viewer>
      </div>
    </mat-card-content>
  </mat-card>
</div>
